extends layout

block content
  h1= title
  div#searchDiv
    div(class="alLado")
        input#txtQuote(type="text")
    div(class="alLado")
        input#btnAdd(type="button" value="Add")
    div#imgLoadingDiv(class="alLado")
    br
  div#wrap
    
  
